<h1>Comedians</h1>

<% @comedians.each do |comedian| %>
  <h2><%= comedian.name %></h2>
  <p><%= comedian.age %></p>
  <ul>
    <% comedian.specials.each do |special| %>
    <li><%= special.name %></li>
    <% end %>
  </ul>
  <% end %>
